/StaticAnalysis/target/
/StaticAnalysis/pom.xml.tag
/StaticAnalysis/pom.xml.releaseBackup
/StaticAnalysis/pom.xml.versionsBackup
/StaticAnalysis/pom.xml.next
/StaticAnalysis/release.properties
/StaticAnalysis/dependency-reduced-pom.xml
/StaticAnalysis/buildNumber.properties
/StaticAnalysis/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
/StaticAnalysis/.mvn/wrapper/maven-wrapper.jar
/StaticAnalysis/.idea
/StaticAnalysis/*.iml
#
/StaticAnalysis/src/main/java/mysqlUtils/application.properties

/DynamicAnalysis/.idea
/DynamicAnalysis/target/