/StaticAnalysis/target/
/StaticAnalysis/pom.xml.tag
/StaticAnalysis/pom.xml.releaseBackup
/StaticAnalysis/pom.xml.versionsBackup
/StaticAnalysis/pom.xml.next
/StaticAnalysis/release.properties
/StaticAnalysis/dependency-reduced-pom.xml
/StaticAnalysis/buildNumber.properties
/StaticAnalysis/.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
/StaticAnalysis/.mvn/wrapper/maven-wrapper.jar
/StaticAnalysis/.idea
/StaticAnalysis/*.iml
#
/.idea
/DynamicAnalysis/.idea
/DynamicAnalysis/target/
application.properties

/DynamicAnalysis/hivecheck/.idea
/DynamicAnalysis/hivecheck/target
/DynamicAnalysis/hivecheck/src/main/resources/application.properties
.idea
data
