/StaticAnalysis/pom.xml.tag
/StaticAnalysis/pom.xml.releaseBackup
/StaticAnalysis/pom.xml.versionsBackup
/StaticAnalysis/pom.xml.next
/StaticAnalysis/release.properties
/StaticAnalysis/dependency-reduced-pom.xml
/StaticAnalysis/buildNumber.properties
/StaticAnalysis/.mvn/timing.properties
/StaticAnalysis/.mvn/wrapper/maven-wrapper.jar
/StaticAnalysis/gen

/DynamicAnalysis/hivecheck/.idea
/DynamicAnalysis/hivecheck/target
/DynamicAnalysis/hivecheck/src/main/resources/application.properties
/DynamicAnalysis/MLP/kaggle-house-price/__pycache__

/UploadAndDetect/node_modules

*.iml
.idea
data
target
application.properties
StaticAnalysis/classes/artifacts/antlrtest_jar/antlrtest.jar
DynamicAnalysis/hivecheck/hive-join-check-1.jar
StaticAnalysis/hive-static-check-1.jar
